@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expense Manager</h1>
    <p class="lead">Expense Manager is a free web application which helps the end users to manage their expenses and income in one place.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add User</h2>
        <p>The "Add User" feature of the application allows for new user registration. </p>
        <p><div class="btn btn-default">@Html.ActionLink("Learn more", "Index", "Users")&raquo;</div></p>
    </div>
    <div class="col-md-4">
        <h2>Add Expense</h2>
        <p>
            The "Add Expense" feature of the application allows the registered users to add their expenses. 
        </p>
        <p><div class="btn btn-default">@Html.ActionLink("Learn more", "Index", "Expenses")&raquo;</div></p>
    </div>
    <div class="col-md-4">
        <h2>Add Income</h2>
        <p>The "Add Income" feature of the application allows the registered users to add their income. </p>
        <p><div class="btn btn-default">@Html.ActionLink("Learn more", "Index", "Incomes")&raquo;</div></p>
    </div>
</div>